version: '3'
services:
  backend:
    build: .
    ports:
      - "5000:5000"
    depends_on:
      - mongodb
  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend
  mongodb:
    image: mongo:latest
    volumes:
      - mongodb_data_container:/data/db
      - ./database:/docker-entrypoint-initdb.d
    ports:
      - "27017:27017"
volumes:
  mongodb_data_container:
